.sectionx {
  margin: 2rem;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.sectionx-text {
  margin-top: 3rem;
  font-family: "Manrope", sans-serif;
}

.sectionx-text span {
  color: #d87d4a;
}
.sectionx h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
}

.sectionx p {
  font-size: 18px;
  text-align: center;
  padding: 10px 6px;
}
.imagex-box img {
  border-radius: 10px;
  width: 100%;
}

.footer {
  background-color: #000000;
  color: #fff;
}

.footer-nav img {
  padding: 4rem 0;
  border-top: 5px solid #d87d4a;
}
.footer-nav a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 1.5rem;
}
.footer p {
  margin: auto;
  padding-top: 3rem;
  width: 327px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer-link {
  text-align: center;
}
.links {
  text-align: center;
  padding: 3rem 0;
}
.links a {
  margin: 0 10px;
}
.footer a:hover {
  color: #d87d4a;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
    width: 100%;
  }
  .mobile {
    display: none;
  }

  .footer {
    padding: 0 3rem;
    text-align: start;
  }
  .footer-link {
    text-align: start;
  }

  .footer-nav a {
    display: inline;
    padding: 0 1rem;
  }
  .footer p {
    margin: 0;
    padding-top: 3rem;
    width: 689px;
    text-align: start;
  }
  .footer-links {
    display: flex;
  }
  .links {
    text-align: end;
    padding: 3rem 0;
  }

  .links a {
    margin: 0 10px;
    justify-content: end;
  }
  .sectionx h3 {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
    padding: 0 6rem;
  }

  .sectionx p {
    font-size: 18px;
    text-align: center;
    padding: 10px 4rem;
  }
  .imagex-box img {
    width: 100%;
    height: 20%;
  }
}

@media (min-width: 1199px) {
  .desktop {
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }

  .footer {
    padding: 0 5rem;
    text-align: start;
    display: block;
  }

  .footer-nav a {
    display: inline;
    padding: 0rem 1rem;
  }
  .footer-link {
    padding-top: 4rem;
    text-align: end;
  }

  .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer p {
    margin: 0;
    padding-top: 3rem;
    width: 689px;
    text-align: start;
  }
  .footer-links {
    display: grid;
    grid-template-columns: 1fr 250px;
    text-align: end;
  }
  .links {
    display: flex;
    padding: 3rem 0;
    text-align: end;
  }
  .links a {
    margin: 0 10px;
  }

  .sectionx h3 {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.43px;
    text-align: justify;
    line-height: 44px;
  }

  .sectionx p {
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: justify;
    padding: 10px 6px;
  }

  .sectionx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right left";
    margin: 3rem 9rem;
  }

  .sectionx-text {
    grid-area: right;
    margin: 15rem 6rem;
  }
  .imagex-box {
    grid-area: left;
  }
}
