@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

.desktop {
  display: none;
}
.tablet {
  display: none;
}
.mobile {
  width: 100%;
}

.heading {
  position: relative;
}

.heading h4 {
  background-color: #000000;
  padding: 2rem 0;
  color: #fff;
  font-family: "Manrope";
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 2px;
}

.xx99 {
  margin: 2rem 1rem;
  border-radius: 10px;
}

.xx99-texts {
  text-align: center;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
}
.xx99-texts p {
  font-family: "Manrope";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #d87d4a;
  margin: 2rem 0;
}
.xx99-images img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.xx99-texts h1 {
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  margin: 2rem 0;
}

.xx99-texts h6 {
  font-family: "Manrope";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.xx99-texts a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #d87d4a;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.xx99-texts a:hover {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #fbaf85;
}

.xx99-mark {
  margin: 2rem 1rem;
  text-align: center;
}

.xx99mark-images img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.xx99mark-texts h1 {
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 1rem;
  color: #000;
  margin: 2rem 0;
}

.xx99mark-texts h6 {
  font-family: "Manrope";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.xx99mark-texts a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #d87d4a;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.xx99mark-texts a:hover {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #fbaf85;
}

.xx59 {
  margin: 2rem 1rem;
  text-align: center;
}

.xx59-images img {
  border-radius: 10px;
  margin-bottom: 1rem;
}

.xx59-texts h1 {
  font-family: "Manrope";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2rem 0;
  color: #000;
}

.xx59-texts h6 {
  font-family: "Manrope";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  text-align: center;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.xx59-texts a {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #d87d4a;
  margin-top: 2rem;
  margin-bottom: 5rem;
}
.xx59-texts a:hover {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #fbaf85;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
    width: 100%;
  }
  .mobile {
    display: none;
  }
  .xx99-images {
    margin: 1rem 2rem;
  }
  .xx99-images img {
    border-radius: 10px;
    margin-bottom: 1rem;
  }

  .xx99-texts {
    margin: 1rem 10rem;
  }
  .xx99-texts h1 {
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    color: #000;
    margin: 2rem 0;
  }
  .xx99mark-images {
    margin: 1rem 2rem;
  }
  .xx99mark-images img {
    border-radius: 10px;
  }
  .xx99mark-texts {
    margin: 1rem 10rem;
  }

  .xx99mark-texts h1 {
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    color: #000;
    margin: 2rem 0;
  }

  .xx59-images {
    margin: 1rem 2rem;
  }

  .xx59-texts {
    margin: 1rem 10rem;
  }
  .xx59-texts h1 {
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    color: #000;
    margin: 2rem 0;
  }
}

@media (min-width: 1199px) {
  .desktop {
    display: block;
    width: 100%;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
  .xx99 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right left";
    margin: 2rem 5rem;
  }

  .xx99-texts {
    grid-area: left;
    margin: 15rem 6rem;
    text-align: justify;
  }
  .xx99-texts h1 {
    font-family: "Manrope";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 1.43px;
    text-transform: uppercase;
    text-align: justify;
    color: #000;
  }
  .xx99-texts h6 {
    text-align: justify;
  }
  .xx99-texts p {
    text-align: justify;
  }
}
