@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

.section {
  position: relative;
}
.desktop {
  display: none;
}
.tablet {
  display: none;
}
.mobile {
  width: 100%;
}
.home-images {
  position: relative;
}
.home-texts {
  font-family: "Manrope", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  bottom: 0;
  text-align: center;
  margin-left: 2rem;
  /* margin: auto; */
  width: 350px;
  /* justify-content: center; */
  /* margin: auto; */
}
.home-texts p {
  font-weight: 400;
  font-size: 14px;
  line-height: 19.12px;
  text-align: center;
  letter-spacing: 10px;
  text-transform: uppercase;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}
.home-texts h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.29px;
  text-transform: uppercase;
  font-family: "Manrope";
  text-align: center;
}
.home-texts h6 {
  padding: 1rem;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  font-family: "Manrope";
  text-align: center;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.home-texts a {
  color: #f1f1f1;
  font-size: 13px;
  font-weight: 700;
  line-height: 17.76px;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: "Manrope";
  text-align: center;
  padding: 1rem 2rem;
  background-color: #d87d4a;
}
.home-texts a:hover {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  border-radius: 0;
  padding: 1rem 2rem;
  background-color: #fbaf85;
}
.section-2 {
  /* margin-top: 10rem; */
  margin: 2rem;
}
.shop-items {
  position: relative;
  text-align: center;
}

.item-box {
  background-color: #f1f1f1;
  padding: 7rem 0 2rem;
  margin: 10rem 0;
  border-radius: 15px;
}

.items {
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 100%;
  margin: auto;
}
.shop-items h6 {
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.shop-items a {
  font-family: "Manrope", sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  mix-blend-mode: normal;
  opacity: 0.5;
  /* margin-left: 11rem; */
}

.section-3 {
  margin: 2rem;
  background-color: #d87d4a;
  border-radius: 10px;
  margin-bottom: 3rem;
}
.image-box .mobile {
  padding-top: 4rem;
  width: 210px;
  margin-left: 5.8rem;
}

.pattern {
  position: absolute;
  top: 1px;
  z-index: 1;
}

.pattern1 {
  width: 100%;
}

.image-box {
  box-sizing: border-box;
  position: relative;
}
.section-text {
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  margin: auto;
  width: 380px;
  padding: 0 1.5rem;
}

.section-text h3 {
  font-size: 3.5rem;
  margin-top: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.section-text h6 {
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1.5px;
  padding: 1px;
  line-height: 22px;
}
.section-text a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  padding: 1rem 3rem;
  background-color: #000;
  margin-left: 4.5rem;
  margin-top: 1rem;
  border-radius: 0;
  margin-bottom: 3rem;
}

.section-4 {
  margin: 2rem;
}
.section4-text {
  font-family: "Manrope", sans-serif;
  text-transform: uppercase;
}

.section4-text a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  padding: 1rem 3rem;
  margin-left: 30px;
  border-radius: 0;
  margin-bottom: 3rem;
  outline: 1px solid #000;
}

.section4-text a:hover {
  color: #fff;
  background-color: #000;
}
.section4-text h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 38.25px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-left: 30px;
  font-family: "Manrope";
  font-style: normal;
}
.left {
  position: absolute;
  top: 2880px;
  left: 30px;
  height: 38px;
  right: 0.98%;
}
.images-box img {
  border-radius: 10px;
}

.section-5 {
  margin: 2rem;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.section5-text {
  text-transform: uppercase;
  font-family: "Manrope", sans-serif;
}

.section5-text h3 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 30px 0;
  margin-left: 30px;
}

.section5-text a {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  padding: 1rem 3rem;
  margin-left: 30px;
  border-radius: 0;
  margin-bottom: 3rem;
  outline: 1px solid #000;
}

.section5-text a:hover {
  color: #fff;
  background-color: #000;
}
.image4-box img {
  border-radius: 10px;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: block;
    width: 100%;
  }
  .mobile {
    display: none;
  }
  .home-texts {
    width: 40 0px;
    margin: auto;
  }
  .home-texts h6 {
    padding: 1rem 0;
    font-weight: 500;
    font-size: 17px;
  }
  .section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 10rem 2rem 5rem;
  }
  .item-box {
    margin: 0rem;
  }

  /* .item-box a {
    margin-left: 6.5rem;
  } */

  .image-box .tablet {
    padding-top: 3rem;
    width: 230px;
    margin: auto;
  }

  .image-box {
    box-sizing: border-box;
    position: relative;
  }
  .section-text {
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    margin: auto;
    width: 380px;
    padding: 0 1rem;
  }

  .section-text h3 {
    font-size: 4rem;
    margin-top: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .section-text h6 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 0 3px;
    line-height: 25px;
  }
  .pattern {
    position: absolute;
    top: 1px;
    left: 300px;
    z-index: 1;
  }

  .pattern1 {
    width: 70%;
  }

  .section-text a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 1rem 2rem;
    background-color: #000;
    margin-left: 5.5rem;
    border-radius: 0;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }
  .section-4 {
    margin: 0 1.5rem;
  }
  .section4-text {
    font-family: "Manrope", sans-serif;
  }

  .section4-text a {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    padding: 1rem 3rem;
    margin-left: 30px;
    border-radius: 0;
    margin-bottom: 3rem;
    outline: 1px solid #000;
  }
  .section4-text h3 {
    font-size: 2.1rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
  }
  .left {
    position: absolute;
    top: 150rem;
    left: 60px;
  }
  .images-box img {
    border-radius: 10px;
  }
  .section-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .section5-text {
    margin: 6rem 3rem;
  }
  .section5-text h3 {
    font-size: 2.1rem;
    font-weight: 700;
    letter-spacing: 2px;
  }
  .image4-box img {
    width: 100%;
  }
}

@media (min-width: 1199px) {
  .desktop {
    display: block;
    width: 100%;
  }
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }

  .section {
    background-color: #191919;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "right left";
  }

  .home-images {
    grid-area: left;
  }

  .home-images img {
    height: 100vh;
    width: 95vw;
  }
  .home-texts {
    text-align: start;
    left: 0;
    right: 100%;
    top: 35%;
    bottom: 0;
    margin: auto;
    width: 400px;
    margin-left: 9rem;
  }
  .home-texts p {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.12px;
    text-align: start;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: #ffffff;
    mix-blend-mode: normal;
    opacity: 0.5;
  }
  .home-texts h1 {
    color: #ffffff;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: "Manrope";
    line-height: 58px;
    text-align: justify;
  }
  .home-texts h6 {
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-family: "Manrope";
    text-align: justify;
    mix-blend-mode: normal;
    opacity: 0.75;
    padding: 1rem 0;
  }

  .section-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    margin: 10rem 5rem 5rem;
  }
  .item-box {
    margin: 0;
  }
  .section-3 {
    display: flex;
    margin: 3rem 5rem;
  }

  .image-box .desktop {
    width: 300px;
    position: absolute;
    bottom: 0;
    left: 10rem;
  }

  .image-box {
    box-sizing: border-box;
    position: relative;
  }
  .section-text {
    color: #ffffff;
    font-family: "Manrope", sans-serif;
    width: 380px;
    margin-right: 8rem;
    margin-top: 3rem;
  }

  .section-text h3 {
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: justify;
    /* position: absolute; */
    /* bottom: 0; */
  }

  .pattern1 {
    width: 55vw;
    height: 80vh;
  }

  .section-text h6 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 25px;
    text-align: justify;
  }
  .section-text a {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 1rem 2rem;
    background-color: #000;
    margin-left: 8px;
    border-radius: 0;
    margin-top: 3rem;
    margin-bottom: 5rem;
  }

  .section4-text h3 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-left: 200px;
    line-height: 38.25px;
  }
  .left {
    position: absolute;
    top: 1900px;
    left: 50px;
  }

  .section-4 {
    margin: 3rem 5rem;
  }
  .section4-text a {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    line-height: 17.76px;
    letter-spacing: 1px;
    padding: 1.5rem 3.8rem;
    margin-left: 200px;
    border-radius: 0;
    margin-bottom: 3rem;
    margin-top: 13px;
    outline: 1px solid #000;
  }

  .section-5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 5rem;
  }

  .section5-text {
    margin: 6rem 8rem;
  }
  .section5-text h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 38.25px;
    font-family: "Manrope";
    letter-spacing: 2px;
  }

  .section5-text a {
    font-family: "Manrope";
    font-weight: 700;
    font-size: 13px;
    line-height: 17.76px;
    margin-top: 13px;
    padding: 1.5rem 3.8rem;
    letter-spacing: 1px;
  }
  .image4-box img {
    width: 100%;
    height: 100%;
  }
}
