@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
#nav {
  background-color: #191919;
  border-bottom: 1px solid #aaaaaa;
  margin: 0;
  text-align: center;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 2rem;
}
.navbar a {
  color: #fff;
}

.navbar .navbar-nav a {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 0;
  color: #ffff;
  text-transform: uppercase;
}

.container-fluid {
  margin: 0 1rem;
}
/* .navbar .navbar-nav .active {
  color: #d87d4a;
} */

.navbar-toggler-icon {
  color: #fff;
}

@media (min-width: 769px) and (max-width: 1198px) {
  .container-fluid {
    margin: 0 2rem;
  }
}

@media (min-width: 1199px) {
  .container-fluid {
    margin: 0 4rem;
  }

  .cart {
    margin: 0 2rem;
  }
}
