@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
#nav {
  background-color: #000;
  border-bottom: 1px solid #aaaaaa;
}

.navbar .navbar-nav {
  margin: auto;
  column-gap: 25px;
}
.navbar a {
  color: #fff;
}

.navbar .navbar-nav a {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  color: #ffff;
  text-transform: uppercase;
}
.navbar .navbar-nav .active {
  color: #d87d4a;
}

@media (min-width: 769px) and (max-width: 1198px) {
  #nav {
    margin: 0;
  }
}

@media (min-width: 1199px) {
  .navbar-brand {
    margin: 0;
    background-color: #000;
  }

  .cart {
    margin: 0 2rem;
  }
}
